<article data-history-node-id="23441" role="article" class="contextual-region node node--type-landing-page-v2 node--view-mode-full" about="https://www.twistbioscience.com/products/antibody-discovery/in-vivo/abveris-antibody-discovery-services" data-type="promotion" data-product="Antibodies">
   <div class="node__content">
      <div class="field field--name-field-page-banner field--type-entity-reference-revisions field--label-hidden field__item">
         <div class="banner paragraph paragraph--type--banner paragraph--view-mode--default">
            <div class="container">
               <div class="banner__content">
                  <h1>ANTIBODY DISCOVERY SERVICES</h1>
                  <p>We have multiple industry-leading technologies to deliver the therapeutic and reagent mAbs you need. Free of milestones and royalties!</p>
                  <p class="text-align-center"><a class="button dark-btn hero cta learn-more-about-b-cell-screening" data-twist-element="main-cta" data-twist-location="banner" data-twist-type="button">Learn More About B cell screening</a></p>
                  <p>&nbsp;</p>
               </div>
            </div>
         </div>
      </div>
      <div class="field field--name-field-content field--type-entity-reference-revisions field--label-hidden field__items">
         <section class="clearfix component-paragraph paragraph paragraph--type--section paragraph--view-mode--default CUSTOM-SECTION-CLASSES">
            <!-- custom classes field on the section styles form -->
            <div class="CONTAINER-CLASS">
               <!-- container | container-fluid select list on section styles form  -->
               <div class="row CUSTOM-ROW-CLASSES">
                  <!-- custom row classes field on add components form -->
                  <div class="COLUMN-CLASS paragraph paragraph--type--text-new-design paragraph--view-mode--default CUSTOM-COLUMN-CLASSES">
                     <!-- grid column class select list + custon styles field on component item add styles form -->
                     <div class="clearfix text-formatted field field--name-field-tnd-text field--type-text-long field--label-hidden field__item">
                        <h4 class="text-align-center">WORLD'S FASTEST</h4>
                        <h2 class="text-align-center">In vivo antibody discovery in weeks instead of months?</h2>
                        <p class="text-align-center">We do that. The Berkeley Lights Beacon-based B cell screening enables high-resolution screening for ideal, rare mAbs in previously impossible timelines.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="clearfix component-paragraph paragraph paragraph--type--section paragraph--view-mode--default CUSTOM-SECTION-CLASSES">
            <div class="CONTAINER-CLASS">
               <div class="row CUSTOM-ROW-CLASSES">
                  <div class="COLUMN-CLASS paragraph paragraph--type--text-new-design paragraph--view-mode--default CUSTOM-COLUMN-CLASSES">
                     <div class="clearfix text-formatted field field--name-field-tnd-text field--type-text-long field--label-hidden field__item">
                        <h2>&nbsp;</h2>
                        <h3>ABVERIS ANTIBODY DISCOVERY SERVICES&nbsp;</h3>
                        <p>Abveris is a premier antibody discovery partner, offering end-to-end mAb discovery solutions to biotech and biopharma companies of all sizes. Our process starts with a thorough project design process, where we work collaboratively with our partners to design a project with the greatest likelihood of success.</p>
                        <p>Whether you need functional antibodies or you're targeting complex cell surface targets, our technical teams and project managers help deliver the diverse panels of functionally relevant antibodies that meet your project needs. Our services give our partners access to multiple technology platforms with optimized workflows for immunizations, screening, characterization,&nbsp;<a href="https://www.twistbioscience.com/landing-page/abveris-sequencing-antibody-expression" class="link sequencing">sequencing</a>, purification, and recombinant production.&nbsp;</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="clearfix component-paragraph paragraph paragraph--type--section paragraph--view-mode--default CUSTOM-SECTION-CLASSES">
            <div class="CONTAINER-CLASS">
               <div class="row CUSTOM-ROW-CLASSES">
                  <div class="COLUMN-CLASS paragraph paragraph--type--text-new-design paragraph--view-mode--default CUSTOM-COLUMN-CLASSES">
                     <div class="clearfix text-formatted field field--name-field-tnd-text field--type-text-long field--label-hidden field__item">
                        <h3>HYBRIDOMA DISCOVERY</h3>
                        <p><strong>Abveris&nbsp;</strong>provides a full range of antibody discovery services for monoclonal antibody production, from antigen production to antibody purification, sequencing, and recombinant production.&nbsp;Access to humanized and proprietary mouse platforms, paired with industry-leading screening and characterization technologies provides our team with the ability to design flexible hybridoma or B cell screening workflows tailored to specific downstream applications.&nbsp;</p>
                        <p>Our team works closely with our partners to develop both therapeutic and reagent antibodies, leveraging as many of our tools as needed to deliver the antibodies our partners need.</p>
                        <p>&nbsp;</p>
                     </div>
                  </div>
                  <div class="COLUMN-CLASS paragraph paragraph--type--image paragraph--view-mode--default CUSTOM-COLUMN-CLASSES">
                     <div class="tile  block-image" style="background-color: transparent;">
                        <img class="twist-lightbox" alt="discovery" title="" width="3705" height="888" loading="lazy" src="/sites/default/files/2023-01/hybridoma%20screening_no_background.png" typeof="foaf:Image">
                     </div>
                  </div>
                  <div class="COLUMN-CLASS paragraph paragraph--type--text-new-design paragraph--view-mode--default CUSTOM-COLUMN-CLASSES">
                     <div class="clearfix text-formatted field field--name-field-tnd-text field--type-text-long field--label-hidden field__item">
                        <h5>&nbsp;</h5>
                        <h5>COMPREHENSIVE SERVICES</h5>
                        <h6>EARLY PHASE</h6>
                        <p>When working on novel targets, it can be hard to find a reliable source recombinant protein, and the availability of the necessary cell lines may be limited. With our&nbsp;<strong>protein/peptide synthesis and cell line generation capabilities</strong>, we ensure appropriate amounts of high-quality immunization and screening material is available.&nbsp;</p>
                        <p>&nbsp;</p>
                        <h6>MIDDLE PHASE - DISCOVERY AND SCREENING</h6>
                        <p>B Cell screening on Beacon and optimized hybridoma development processes enables the discovery of large, diverse sets of mAbs.</p>
                        <p>Our suite of high throughput screening and characterization platforms allows us to not only identify ideal binders, but also to screen for high-affinity and functionally relevant antibodies early in the discovery process. High throughput flow cytometry allows us to analyze on-cell binding as well as functional activity.</p>
                        <p>&nbsp;</p>
                        <h6>LATE PHASE</h6>
                        <p>Next-generation sequencing runs are accompanied by&nbsp;<strong>custom data reports</strong>&nbsp;highlighting potential developability concerns. Recombinant antibody production allows our partners the option to produce ample amounts of their favorite antibody in a reliable mammalian cell line.&nbsp;</p>
                        <p>&nbsp;</p>
                        <h5>IMMUNIZATION EXPERTISE</h5>
                        <p>The immune response is critical to successful antibody discovery. Abveris prides itself on its expertise and breadth of immunization capabilities. Immunization methods include:</p>
                        <ul>
                           <li>Peptide/protein-based</li>
                           <li>Cell-based&nbsp;</li>
                           <li>Subtractive cell-based</li>
                           <li>DNA-based</li>
                           <li>VLP-based</li>
                           <li>Tolerance-breaking</li>
                        </ul>
                        <p>The hyperimmune response of the DiversimAb mouse can generate appropriate titers in as little as three weeks, enabling rapid antibody discovery. Proprietary adjuvants and proprietary immunization protocols allow our team to exploit the hyperimmune and autoimmune features of our proprietary mouse strain for an even greater chance of cross-reactive and diverse antibodies sets. Through our work with different humanized platforms, we have optimized our immunization methods to apply to the mouse models commonly used for therapeutic discovery campaigns.&nbsp;</p>
                        <p>&nbsp;</p>
                        <h5>LEADING DISCOVERY PLATFORMS</h5>
                        <p>Abveris leverages a number of high throughput platforms for&nbsp;<a href="https://www.twistbioscience.com/landing-page/abveris-advanced-antibody-screening-0" class="link antibody-screening">antibody screening</a>&nbsp;and characterization. These platforms include TECAN systems for high throughput ELISA, iQue Flow Cytometry for high throughput on cell screening, Carterra SPR and Octet for antibody kinetics analysis.&nbsp;</p>
                        <p>&nbsp;</p>
                        <h4>Anti-Idiotype and Reagent Antibody Discovery</h4>
                        <p>With Abveris services, we deliver high-quality anti-idiotype antibodies using our DiversimAbTM&nbsp;platform. We apply stringent, high-content screening in relevant formats predictive of downstream assay success to identify quality reagents for your specific drug development assays (e.g. PK and ADA).</p>
                        <p>We know these mAbs are critical tools for clinical assay development, and the speed with which we deliver high-quality reagents ultimately impacts patients’ lives. Our team takes pride in the work we perform and prioritizes the delivery of the highest-quality antibodies in industry-leading timelines to support your clinical trials.</p>
                        <p>&nbsp;</p>
                        <h5>ADVANTAGES:</h5>
                        <ul>
                           <li>Optimized, market-leading antibody discovery and characterization platform</li>
                           <li>Expanded mAb diversity with proprietary DiversimAb platform</li>
                           <li>All delivered mAbs screened on Octet for affinity and/or ligand blocking</li>
                           <li>Accelerated timelines</li>
                           <li>Expert project management</li>
                           <li>Flexible deliverables - hybridomas, antibody sequences, purified mAb</li>
                           <li>All work performed in our Boston, MA lab</li>
                           <li>Multiple biologic frameworks accepted – IgG, ScFv, bi-specifics, and other engineered biologics</li>
                        </ul>
                        <p>Please view the Webinar our COO, Tracey Mullen, hosted that highlights the anti-idiotype discovery workflows that we use with a 94% success rate across diverse targets.&nbsp;</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>
</article>